<h1>Welcome to the Contacts App by Martin Bte</h1>
<br/>
<br/>
<p>You can find the project's code in:</p>
<a href="https://github.com/OneNakedBass/ContactsApp">https://github.com/OneNakedBass/ContactsApp</a>
